{% extends 'base.html' %}
{% load social_share %}
{% load static %}

{% block tituloo %}
    QuizApp | Quiz
{% endblock %}

{% block cabecera %}
    <script defer type="text/javascript" src="{% static 'js/quiz.js' %}"></script>
{% endblock %}

{% block contenido %}
    <div class="container" style="min-height: 85vh;">
        {% if pregunta is None %}
            <div class="jumbotron my-4">
                <h1>Ya has respondido a todas nuestras preguntas. Mira el tablero de posiciones</h1>
                <a href="{% url 'tablero' %}">Ver aquí</a>
                <p>Posición: {{ posicion }}</p>
                <p>Puntaje total: {{ puntaje_total }} puntos</p>
                <a href="{% url 'borrarJuego' %}">
                    <button>Volver a jugar</button>
                </a>
            </div>
            <p>Compartir en redes sociales</p>
            <div class="row">
                <div class="col-xs-6">
                    {% post_to_facebook object_or_url " " "fa fa-facebook" %}
                </div>
                <div class="col-xs-6">
                    {% post_to_twitter "algun texto" object_or_url " " "fa fa-twitter" %}
                </div>
                <div class="col-xs-6">
                    {% post_to_whatsapp object_or_url " " "fa fa-whatsapp" %}
                </div>
            </div>
        {%else%}
            <div class="row">
                <div class="col text-right" id="timer-box"></div>
            </div>
            <div class="jumbotron my-4">
                <h3>{{ pregunta.texto }}</h3>
                <form method="POST" class="form" id="pregunta-form">
                    {% csrf_token %}
                    <input type="hidden" name="pregunta_pk" value="{{ pregunta.pk }}" >
                    {% for opciones in pregunta.opciones.all %}
                        <div class="form-check mx-4">
                            <input class="form-check-input" type="checkbox" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{ forloop.counter }}" >
                            <label for="choice-{{ forloop.counter }}" class="form-check-label" >
                                {{ opciones.texto }}
                            </label>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success" >
                        Enviar
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}