{% extends 'base.html' %}
{% load social_share %}

{% block contenido %}
    {% if pregunta is None %}
        <div class="container" style="min-height: 85vh;">
            <div class="jumbotron my-4">
                <h1>Ya has respondido a todas nuestras preguntas. Mira el tablero de posiciones</h1>
                <a href="{% url 'tablero' %}">Ver aquí</a>
                <!-- <p>{{ user }}</p> -->
                <p>Posición: {{ posicion }}</p>
                <p>Puntaje total: {{ puntaje_total }} puntos</p>
                <a href="{% url 'borrarJuego' %}">
                    <button>Volver a jugar</button>
                </a>
            </div>
            <p>Compartir en redes sociales</p>
            <div class="row">
                <div class="col-xs-6">
                    {% post_to_facebook object_or_url " " "fa fa-facebook" %}
                </div>
                <div class="col-xs-6">
                    {% post_to_twitter "algun texto" object_or_url " " "fa fa-twitter" %}
                </div>
                <div class="col-xs-6">
                    {% post_to_whatsapp object_or_url " " "fa fa-whatsapp" %}
                </div>
            </div>
        </div>
    {%else%}
        <div class="container" style="min-height: 85vh;">
            <div class="jumbotron my-4">
                <h3>{{ pregunta.texto }}</h3>
                <p>Opciones Correctas: {{ opciones_correctas }}</p>
                <form method="POST" class="form">
                    {% csrf_token %}
                    <input type="hidden" name="pregunta_pk" value="{{ pregunta.pk }}" >
                    {% for opciones in pregunta.opciones.all %}
                        <!-- <p>{{ opciones.correcta }}</p> -->
                        <div class="form-check mx-4">
                            <input class="form-check-input" type="checkbox" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{ forloop.counter }}" >
                            <label for="choice-{{ forloop.counter }}" class="form-check-label" >
                                {{ opciones.texto }}
                            </label>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success" >
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}