{% extends 'base.html' %}



{% block contenido %}
    <div class="container" style="min-height: 84vh;">
        <div class="jumbotron my-4">
            <h3 class="text info">{{ respondida.pregunta.texto | safe }}</h3>
            <p>
                <strong>Tu respuesta:</strong>
                {% for respuesta in respondida.respuesta.all %}
                    <p>
                        {{ respuesta }}
                    </p>
                {% endfor %}
            </p>
            <p>pregunta puntje: {{ respondida.pregunta.max_puntaje }}</p>
            <p>puntaje: {{ respondida.puntaje }}</p>
            <p>puntaje quizuser: {{ respondida.quizUser.puntaje_total }}</p>

            {% if respondida.pregunta.max_puntaje == respondida.puntaje %}
                
                <h4 class="text-success">Respuesta correcta</h4>
            
            {% else %}
        
                {% if respondida.puntaje > 0 and respondida.pregunta.max_puntaje > respondida.puntaje %}
                    
                    <h4 class="text-success">Respuesta parcialmente correcta</h4>
                {% else %}
                    <h4 class="text-danger">Respuesta incorrecta</h4>
                
                {% endif %}

                <h4>La respuesta correcta es:</h4>

                {% for respuesta in respondida.pregunta.opciones.all %}

                    {% if respuesta.correcta %}

                        <p class="text-success">{{respuesta}}</p>
                        
                    {% endif %}

                {% endfor %}
                

            {% endif %}

            <a href="{% url 'jugar' %}">
                <button class="btn-success">
                    Continuar con la siguiente pregunta
                </button>
            </a>

        </div>
    </div>
{% endblock %}