{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block tituloo %}
    QuizApp | Login
{% endblock %}

{% block contenido %}
    <div class="container p-5" style="min-height: 88vh;">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title text-center p-3">QuizApp</h2>
                    <div class="card-body py-md-4">
                        <form method="POST">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form | crispy }}
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-primary">
                                            Iniciar Sesión
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <a href="{% url 'registro' %}" class="text-center mb-4">¿No tienes una cuenta?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}