{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block tituloo %}
    QuizApp | Registro
{% endblock %}

{% block cabecera %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/play.css' %}">
{% endblock %}

{% block contenido %}
    <div class="all" style="min-height: 160vh;">
        <div class="quiz-container min-reg">
            <div class="quiz-header">
                <h2 class="card-title text-center p-3">Regístrate</h2>
                <div class="card-body py-md-4">
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary">
                                        Registrarse
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}