{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title text-center p-3">Regístrate</h2>
                    <div class="card-body py-md-4">
                        <form method="POST">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form|crispy }}
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-primary">
                                            Registrarse
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}